<!DOCTYPE html>
<html>
  <head>
    <title>Weakest Geek!</title>
    <link rel='stylesheet' href='/stylesheets/startScreen.css' />
  </head>
  <body>
    <center>
        <br/>
        <img src="/images/banner.png" id="gamebanner" />
        <br/>
        <img src="/images/ArcadeConLogo.png" id="conlogo" />
        <br/>

        <blink class="start">PRESS START</blink>
        <img src="/images/trans_hanlonit.png" id="hit" />
    </center>

    <!-- Javascript includes -->
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){

            socket = io.connect(window.location.host);

            socket.on('uievent', function (data) {
                if(data.event == 'loadpage')
                {
                    window.location.href = "http://" + window.location.host + "/" + data.page;
                }
            });

        });
    </script>
  </body>
</html>
